.registration-main {
  max-width: 600px; /* フォームの最大幅 */
  margin: 0 auto; /* ページ中央に寄せる */
}

/* フォーム要素のスタイル */
.form-text-wrap {
  margin-bottom: 10px; /* 要素ごとのマージン */
}

.form-text {
  font-weight: bold; /* 太字のテキスト */
}

.input-default {
  width: 100%; /* 幅100% */
  box-sizing: border-box; /* ボックスモデルの設定 */
  padding: 8px; /* 内側のパディング */
  margin-bottom: 10px; /* 要素ごとのマージン */
}

.email-name, .password-name, .repassword-name {
  display: block; /* ブロック要素として表示 */
  margin-bottom: 5px; /* 要素ごとのマージン */
}

.field input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 10px;
}

.explain {
  margin-top: 20px; /* 上部のマージン */
}

.weight-bold-text {
  font-weight: bold;
  margin-bottom: 10px;
}

.introduce-text {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 10px;
}

/* Submitボタンのスタイル */
.actions {
  text-align: center; /* テキストを中央に寄せる */
}

.actions input[type="submit"] {
  background-color: #71e1a9;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actions input[type="submit"]:hover {
  background-color: #2980b9;
}

/* リンクのスタイル */
.links {
  text-align: center;
  margin-top: 20px;
}

.links a {
  color: #2980b9;
}

.links a:hover {
  text-decoration: underline;
}