/* 新規投稿フォームのスタイル */
.items-text, .select-box, .submit-btn {
  margin-bottom: 15px;
}

/* テキストエリアのスタイル */
.items-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* セレクトボックスのスタイル */
.select-box {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* 送信ボタンのスタイル */
.submit-btn {
  text-align: center;
}

/* ファイルアップロードフィールドのスタイル */
.image-field{
  width: 100vw;
  height: 400px;
  margin-bottom: 20px;
}

/*記入欄の各名称のスタイル*/
@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic'), local('YuGothic') ;
  font-weight: 400;
}

.location-new-name {
  font-family: 'Yu Gothic', sans-serif;
  font-size: 24px; 
  font-weight: bold; 
  margin-bottom: 8px; 
}

.essential {
  font-family: 'Yu Gothic', sans-serif;
  font-size: 15px;
  color: #FF0000; 
}

.optional {
  font-family: 'Yu Gothic', sans-serif;
  font-size: 15px;
  color: #808080; 
}