.rand-main{
  width: 100vw;
  min-height: 100vh;
  height: auto;
}

.cost-attention{
  color: rgb(208, 33, 33);
  font-size: large;
  font-weight: bold;
}

.random-line{
  font-weight: bold;
  background:linear-gradient(transparent 60%, orange 60%);
}

.max-sum-random{
  font-weight: bold;
  color: rgb(230, 54, 54);
}

.min-sum-random{
  font-weight: bold;
  color: rgb(65, 65, 225);
}