<header class='top-page-header'>
  
 <div class="header_title">
 Rings
 </div>

 <div class='lists-right'>
          
   <div><%= link_to 'ログイン', '#', class: "login" %></div>
   <div><%= link_to '新規登録', '#', class: "sign-up" %></div>
 </div>
</header>